.songMenu {
    position: absolute;
    transform: translateY(200px);
    bottom: 0;
    left: 0;
    width: 100vw;
    transition: transform .8s ease-out;
}

.songMenu[in] {transform: translateY(0)}

.songs {
    position: absolute;
    bottom: 50px;
    transform: translate(-50%, 50%);
    color: white;
    font-size: 24px;
    color: rgb(30, 87, 152);
    text-align: center;
    cursor: pointer;
}

.songItem {
    position: absolute;
    bottom: 50px;
    transform: translate(-50%, 50%);
    color: white;
    font-size: 24px;
    color: rgb(30, 87, 152);
    text-align: center;
    cursor: default;
}

.songs[active] {
    background: rgb(30, 87, 152);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}

.songsDesc {
    left: 10%;
    margin: 0;
}

.song1 {left: 30%}

.song2 {left: 50%}

.song3 {left: 70%}