.upload {
    position: absolute;
    bottom: 50px;
    transform: translate(50%, 50%);
    padding: 10px 20px;
    border-radius: 5px;
    right: 10%;
    transition: background .2s ease-in-out;
    border: 1px solid rgb(30, 87, 152);
    border-style: dashed;
    text-align: center;
    color: rgb(30, 87, 152);
    cursor: copy;
}