body,
html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
}

.intro-command {
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 54px;
    text-align: center;
    font-family: 'cinzel-decorative';
    animation: fade-in 2s cubic-bezier(.91, .01, 1, 1);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}