body,
html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
}

#intro {
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 54px;
    text-align: center;
    font-family: 'cinzel-decorative';
    opacity: 0;
    text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
}

.in {
    animation: fade-in 2s cubic-bezier(.91, .01, 1, 1);
    animation-fill-mode: forwards
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#loading {
    position: absolute;
    width: 0;
    height: 4px;
    background: white;
    top: 50vh;
    transition: width .4s;
    z-index: 999;
}

#loading:before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 2px;
    background: #333;
    z-index: -1;
}

.hide {
    display: none;
}